<% data.portfolio.sites.each do |site| %>

	<div class="row clearfix">

	  	<div class="eight columns alpha">
	  		<%= image_tag 'portfolio/'+ site["img"], :class => 'scale-with-grid' %>
	  	</div>

	  	<div class="eight columns omega">
	  		
	  		<h3><%= site["name"] %></h3>
	  		<p><a href="<%= site["address"] %>"><%= site["address"] %></a></p>

	  	<!-- 	<h4>Sub Heading</h4>

	  		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> -->

	  	</div>

	</div>

	<hr>

<% end %>
