---
title: Alan White - Front End Web Developer - One Lone Monkey 
description: Test description
layout: skeleton
---

<div class="sixteen columns clearfix">

	<div class="two columns alpha">
		<%= image_tag 'logo-monkey-circle.png', :class => 'scale-with-grid' %>
	</div>

	<div class="fourteen">
		<h1 class="remove-bottom" style="margin-top: 40px">One Lone Monkey</h1>
	</div>

	<hr />
</div>

<h2>Some Sites</h2>

<div class="row clearfix">

  	<div class="ten columns alpha">
  		<%= image_tag 'portfolio/digital-ally.png', :class => 'scale-with-grid' %>
  	</div>

  	<div class="six columns omega">
  		
  		<h3>Digital Ally - <a href="">http://digitalally.com.au</a></h3>

  		<h4>Sub Heading</h4>

  		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

  	</div>

</div>


<div class="sixteen columns">
	<hr />
	
</div>

<div class="sixteen columns">
	<h3>Southlands Farm Cottages</h3>
	<%= image_tag 'portfolio/southlands.png', :class => 'scale-with-grid' %>
	<hr />
</div>

<div class="sixteen columns">
	<h3>Boardlink Group</h3>
	<%= image_tag 'portfolio/Boardlink-Group.png', :class => 'scale-with-grid' %>
	<hr />
</div>

<div class="one-third column">
	<h3>About One Lone Monkey?</h3>
	<p>One Lone Monkey is the digital residence of Alan White, a passionate front end developer based out of Edinburgh, Scotland.</p>
</div>

<div class="one-third column">
	<h3>Three Core Principles</h3>
	<p>Skeleton is built on three core principles:</p>
	<ul class="square">
		<li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
		<li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
		<li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
	</ul>
</div>

<div class="one-third column">
	<h3>Docs &amp; Support</h3>
	<p>The easiest way to really get started with Skeleton is to check out the full docs and info at <a href="http://www.getskeleton.com">www.getskeleton.com.</a>. Skeleton is also open-source and has a <a href="https://github.com/dhgamache/skeleton">project on git</a>, so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>.</p>
</div>