---
title: Alan White - Front End Web Developer - One Lone Monkey 
description: Test description
layout: skeleton
---

<div class="sixteen columns clearfix">

	<div class="two columns alpha">
		<%= image_tag 'logo-monkey-circle.png', :class => 'scale-with-grid' %>
	</div>

	<div class="fourteen">
		<h1 class="remove-bottom" style="margin-top: 40px">One Lone Monkey</h1>
	</div>

	<hr />

</div>

<%= partial "layouts/partials/portfolio_loop" %>

<div class="one-third column">
	<h3>About One Lone Monkey?</h3>
	<p>One Lone Monkey is the digital residence of Alan White, a passionate front end developer based out of Edinburgh, Scotland.</p>
</div>

<div class="one-third column">
	<h3>Other Stuff</h3>
	<ul>
		<li>I like to skateboard</li>
		<li>I write poetry</li>
		<li>I have a passion for music</li>
	</ul>	
</div>

<div class="one-third column">
	<h3>Hire Me</h3>
	<p>I have 15 years industry experience and a true passion for the web, why don't you consider hiring me for your project?  I'm currently available for contracts.</p>
</div>